

.perso_taille20{font-size:20px;}
.perso_taille50{font-size:50px;}
.perso_policeTitre{font-family: 'Fredoka One', cursive;}
.perso_ColorOrangeMenu{color : orange !important;}
.perso_ColorGreenMenu{color : green !important;}
.perso_ColorLawngreenMenu{color : lawngreen !important;}
.perso_ColorPinkMenu{color : pink !important;}
.perso_ColorGreyMenu{color : grey !important;}
.perso_minCorpTaille{min-height:500px;}