{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
{% include('inc/slides.html.twig') %}
<div class="container mt-5 mb-5">
            <div class="row">
                 <div class="card p-3">
                    <div class="col">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h4>Réinitialiser votre mot de passe</h4>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <h4><small>
                Entrez votre adresse e-mail et nous vous enverrons un
                pour réinitialiser votre mot de passe.

            </small></h4>
        </div>

        <button class="btn btn-primary">Envoyer un email </button>
    {{ form_end(requestForm) }}
    </div>
              </div>
        </div>  
 </div>
{% endblock %}
