{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous ?{% endblock %}

{% block body %}
 {% include('inc/slides.html.twig') %}
 <section id="content">
      <div class="container">
        <div class="row">
          <div class="span6">
            <h3>Qui sommes <strong>nous ?</strong></h3>
            <p>
             Avenir - Solidarité - Développement est une association intervenant dans le domaine de l’agriculture, la pisciculture et la prestation de services pour la production de biogaz en milieu rural au Sénégal. 
            </p>
            <p>
             Elle a pour principal objectif le développement durable qui constitue un mode de développement équilibré des activités humaines en faisant coïncider efficacité économique, préservation de l’environnement et équité sociale. <br>
             L’objectif global visé par l’association est de répondre aux besoins du présent sans compromettre l’avenir des futures générations
            </p>
            <p>
             À travers ce principe, et en se focalisant plus particulièrement sur les concepts de logement durable et d’emplois verts, des actions humanitaires pour la solidarité. Ainsi, elle entend démontrer l’importance d’engager la société dans une transition écologique et sociale.
            </p>
             <p>
             Devant l'urgence écologique et les détresses humaines auxquelles nous faisons face, Avenir – Solidarité et développement est convaincu que cette mise en action concrète des préceptes du développement durable permettra de bâtir une société plus équilibrée et plus inclusive.            </p>
          </div>
          <div class="span6">
            <!-- start flexslider -->
            <div class="flexslider">
              <ul class="slides">
                <li>
                  <img src="assets/img/works/full/image-01-full.jpg" alt="" />
                </li>
                <li>
                  <img src="assets/img/works/full/image-02-full.jpg" alt="" />
                </li>
                <li>
                  <img src="assets/img/works/full/image-03-full.jpg" alt="" />
                </li>
                <li>
                  <img src="assets/img/works/full/image-03-full.jpg" alt="" />
                </li>
              </ul>
            </div>
            <!-- end flexslider -->
          </div>
        </div>
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->
        <div class="row">
          <div class="span6">
            <h4>En savoir plus sur nous</h4>
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
							1. Ce que nous faisons</a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <p>
                      La stratégie de l ' association <strong>&laquo; Avenir - Solidarité - Développement &raquo;</strong>, développée par l’ensemble de ses membres, vise à structurer ses actions de manière réaliste en dégageant ses priorités, ses méthodologies et ses moyens. L’articulation de la stratégie avec les objectifs locaux, nationaux et internationaux de développement durable sera conduite selon des principes directeurs et une vision assortie d’une logique d’intervention clairement exprimée. 
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
							2. Processus de travail </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>
                    <ul>
<li>	L’articulation avec les stratégies de lutte contre la pauvreté : l'association mettra en œuvre une perspective de développement durable en valorisation des activités agricoles et d’élevages. Il s’agit d’identifier les activités favorisant un cadre de promotion d’emplois ruraux.</li>
<li>Le partenariat : il s’agit de mobiliser les ressources humaines, matérielles et financières des structures et institutions étatiques ou privées et de la coopération décentralisée. Il s’agit de mettre en synergie l’ensemble des ressources et des acteurs intéressés par la lutte contre la pauvreté, le développement économique et social.</li>
<li>La responsabilisation et la participation : par ce biais, les conditions d’une appropriation et d’une prise en charge des activités par les bénéficiaires ou autres acteurs. Pour ce faire l’approche participative et communautaire est utilisée comme moyen d’action.</li>
</ul>
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
							3. Assurance qualité </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>
 La qualité de nos services et la satisfaction de nos clients constituent nos principales préoccupations.
Ces valeurs permettent de valoriser la démarche de l'association. Ses actions reposent sur :
<ul>
<li>Un engagement responsable, solidaire et bénévole de tous les adhérents ;</li>
<li>Ouverture, Echange et Interactivité ;</li>
<li>	Prospection et l’innovation ;</li>
<li>	Redevabilité et transparence ; </li>
</ul>
Comme axes de valeurs complémentaires l'association inscrit sa raison d’être et son action dans :
<ul>
	<li>Un engagement personnel de chaque membre ; </li>
<li>	Un investissement par action permettant la réalisation des activités entreprises :</li>
<li>	Une pratique du partage dans le respect de la diversité de genre et de l’équité ; </li>
<li>La promotion des secteurs agricoles et d’élevages.</li>
</ul>
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
							4. Ce que nous pouvons offrir </a>
                </div>
                <div id="collapseFour" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>
                     L' association « <strong> Avenir - Solidarité - Développement </strong>» propose une agriculture innovante et durable par la création d’une ferme intégrée regroupant plusieurs activités interdépendantes : 
                     <ul>
                     <li>la pisciculture, </li>
                     <li>	l'aviculture, </li>
                     <li>le biogaz et l'agriculture se complètent afin de diversifier la nourriture et d'améliorer les capacités nutritionnelles pour promouvoir et pratiquer une agriculture économiquement viable et pérenne, saine pour l’environnement et socialement équitable. </li>
                     </ul>
L’objectif de association est de contribuer à l’élan national de développement social et économique du Sénégal, dans le contexte d’une nécessaire adaptation aux changements climatiques.
Cette ferme est une exploitation durable, viable, vivable, responsable et transmissible qui s'oppose à une agriculture productiviste fragilisant l'environnement avec l'usage d'engrais chimiques, de traitements herbicides, de fongicides, d'insecticides, de pesticides..., dont la vulgarisation favorise la dignité et le bien-être des communautés rurales et péri-urbaines, tout en offrant aux jeunes des opportunités de formations et d’emplois décents.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="span6">
            <h4>Domaine d'intervention</h4>
            <label>Arboriculture fruitière :</label>
            <div class="progress progress-info progress-striped active">
              <div class="bar" style="width: 100%">
              </div>
            </div>
            <label>Aviculture :</label>
            <div class="progress progress-success progress-striped active">
              <div class="bar" style="width: 90%">
              </div>
            </div>
            <label>Pisciculture :</label>
            <div class="progress progress-warning progress-striped active">
              <div class="bar" style="width: 80%">
              </div>
            </div>
            <label>Maraichage :</label>
            <div class="progress progress-warning progress-striped active">
              <div class="bar" style="width: 90%">
              </div>
            </div>
            <label>Energie renouvelable :</label>
            <div class="progress progress-danger progress-striped active">
              <div class="bar" style="width: 40%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}