{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous ?{% endblock %}

{% block body %}
 {% include('inc/slides.html.twig') %}
 <section id="content">
      <div class="container">
        <div class="row">
          <div class="span6">
            <h3>Qui sommes <strong>nous ?</strong></h3>
            <p>
            « <strong>Avenir – Solidarité et Développement</strong> » est une association d’échange, de promotion et de vulgarisation du concept Solidarité-Développement autour des enjeux sociaux, environnementaux, économiques, de mobilité humaine et d’inclusion sociale par le biais du sport. 
            </p>
            <p>
            
            </p>
            <p>
             Elle a pour principal objectif <strong>le développement durable </strong> qui constitue un mode de développement équilibré des activités humaines en faisant coïncider efficacité économique, préservation de l’environnement et équité sociale. <br/><br/>
             L’objectif global visé par l’association « <strong>Avenir – Solidarité et Développement</strong> » est de répondre aux besoins du<strong> présent </strong> sans compromettre l’avenir des <strong>futures générations .</strong> <br/> 
            </p>
            <p>
             À travers ce principe, elle se focalise plus particulièrement sur les concepts de logement durable et d’emplois verts, des actions humanitaires pour la solidarité. Ainsi, elle entend démontrer l’importance d’engager la société dans une transition écologique et sociale.
            </p>
             <p>
             Devant l'urgence écologique et les détresses humaines auxquelles nous faisons face,  « <strong>Avenir – Solidarité et développement</strong> »  est convaincu que cette mise en action concrète des préceptes du développement durable permettra de bâtir <strong> une société plus équilibrée et plus inclusive </strong>.            </p>
          </div>
          <div class="span6">
            <!-- start flexslider -->
            <div class="flexslider">
              <ul class="slides">
                <li>
                  <img src="assets/img/works/full/image-01-full.jpg" alt="" />
                </li>
                <li>
                  <img src="assets/img/works/full/image-02-full.jpg" alt="" />
                </li>
                <li>
                  <img src="assets/img/works/full/image-03-full.jpg" alt="" />
                </li>
                <li>
                  <img src="assets/img/works/full/image-05-full.jpg" alt="" />
                </li>
                <li>
                  <img src="assets/img/works/full/image-06-full.jpg" alt="" />
                </li>
                <li>
                  <img src="assets/img/works/full/image-08-full.jpg" alt="" />
                </li>
                <li>
                  <img src="assets/img/works/full/image-12-full.jpg" alt="" />
                </li>
                <li>
                  <img src="assets/img/works/full/image-13-full.jpg" alt="" />
                </li>
              </ul>
            </div>
            <!-- end flexslider -->
          </div>
        </div>
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
         
        <!-- end divider -->
         
        <div class="row">
          <div class="span12">
            <h4>Des gens talentueux pour le <strong>développement durable</strong></h4>
          </div>
          <div class="span3">
            <img src="assets/img/dummies/team2.jpg" alt="" class="img-polaroid" />
            <div class="roles">
              <p class="lead">
               Abdoul Hamady <strong> GUEYE</strong>
              </p>
              <p>
              Chargé de mission chantiers jeunes<br/>
              à l'international Ville d'Évreux<br/>
                 55 rue Passot <br/>
                27 000 <strong>Évreux</strong><br/>
                <strong>France.</strong>
              </p>
            </div>
          </div>
          <div class="span3">
            <img src="assets/img/dummies/team1.jpg" alt="" class="img-polaroid" />
            <div class="roles">
              <p class="lead">
                Harouna <strong>DIALLO</strong>
              </p>
              <p>
                Analyste programmeur <br/>
language : html, JavaScript, PHP et MYSQL<br/>
Pasaje Rio Gallego 1 3 D <br/>
22 006 <strong>Huesca</strong><br/>
<strong>Espagne.</strong>
              </p>
            </div>
          </div>

          
          <div class="span3">
            <img src="assets/img/dummies/team5.jpg" alt="" class="img-polaroid" />
            <div class="roles">
              <p class="lead">
                Fatimata <strong>GUEYE</strong>
              </p>
              <p>
                Auxiliaire puéricultrice <br/>
                et aide soignante<br/>
                55 rue Passot <br/>
                27 000 <strong>Évreux</strong><br/>
                <strong>France.</strong>
              </p>
            </div>
          </div>
           <div class="span3">
            <img src="assets/img/dummies/team4.jpg" alt="" class="img-polaroid" />
            <div class="roles">
              <p class="lead">
                Émile <strong>LANGLOIS</strong>
              </p>
              <p>
                Chef de services <br/>
                moyens généraux<br/>
                18 rue Hector Ridel <br/>
                 27 000<strong> Évreux</strong><br/>
               <strong> France.</strong>
              </p>
            </div>
          </div>
          
          <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->
          <div class="span3">
            <img src="assets/img/dummies/team7.jpg" alt="" class="img-polaroid" />
            <div class="roles">
              <p class="lead">
                Dr. Amadou <strong>GUEYE</strong>
              </p>
              <p>
                .................................... <br/>
                ....................................<br/>
                 Plle 833 Sam Notaire<br/>
                 Guédiawaye<strong></strong><br/>
               <strong> Sènègal</strong>
              </p>
            </div>
          </div>
          <!-- end divider -->
          <div class="span3">
            <img src="assets/img/dummies/team6.jpg" alt="" class="img-polaroid" />
            <div class="roles">
              <p class="lead">
                Robert <strong>GARITO</strong>
              </p>
              <p>
                Coordination sport et culture <br/>
                A l IDEFHI Établissement médico social<br/>
                43	Rue de la fontaine résidence  <br/>
                Les cotonnières Apt n° 80 <br/>
                76 960  <strong>Notre Dame de Bonde ville</strong><br/>
               <strong> France.</strong>
              </p>
            </div>
          </div>
          <div class="span3">
            <img src="assets/img/dummies/team3.jpg" alt="" class="img-polaroid" />
            <div class="roles">
              <p class="lead">
                Ousmane Amadou<strong> DIALLO</strong>
              </p>
              <p>
                Profession tailleur<br/>
                et plombier <br>
                02 rue Maryse Bastie<br>
                78 200 <strong>Mantes la Jolie </strong><br>
                <strong>France.</strong>
              </p>
            </div>
          </div>

        </div>
        <!-- divider -->
        <div class="row">
          <div class="span6">
            <h4>En savoir plus sur nous</h4>
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
							1. Ce que nous faisons</a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <p>
                      La stratégie de l ' association « <strong>Avenir – Solidarité et Développement</strong> » , développée par l’ensemble de ses membres, vise à structurer ses actions de manière réaliste en dégageant ses priorités, ses méthodologies et ses moyens. L’articulation de la stratégie avec les objectifs locaux, nationaux et internationaux de développement durable sera conduite selon des principes directeurs et une vision assortie d’une <strong>logique d’intervention clairement exprimée</strong>. 
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
							2. Processus de travail </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>
                    <ul>
<li>	L’articulation avec les stratégies de lutte contre la pauvreté : l'association mettra en œuvre une perspective de développement durable en valorisation des activités agricoles et d’élevages. Il s’agit d’identifier les activités favorisant un cadre de promotion d’emplois ruraux.</li>
<li>Le partenariat : il s’agit de mobiliser les ressources humaines, matérielles et financières des structures et institutions étatiques ou privées et de la coopération décentralisée. Il s’agit de mettre en synergie l’ensemble des ressources et des acteurs intéressés par la lutte contre la pauvreté, le développement économique et social.</li>
<li>La responsabilisation et la participation : par ce biais, les conditions d’une appropriation et d’une prise en charge des activités par les bénéficiaires ou autres acteurs. Pour ce faire l’approche participative et communautaire est utilisée comme moyen d’action.</li>
</ul>
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
							3. Assurance qualité </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>
 La qualité de nos services et la satisfaction de nos clients constituent nos principales préoccupations.
Ces valeurs permettent de valoriser la démarche de l'association. Ses actions reposent sur :
<ul>
<li>Un engagement responsable, solidaire et bénévole de tous les adhérents ;</li>
<li>Ouverture, Echange et Interactivité ;</li>
<li>	Prospection et l’innovation ;</li>
<li>	Redevabilité et transparence ; </li>
</ul>
Comme axes de valeurs complémentaires l'association inscrit sa raison d’être et son action dans :
<ul>
	<li>Un engagement citoyen de chaque membre ; </li>
<li>	Une pratique du partage dans le respect de la diversité de <strong>genre et de l’équité</strong> ; </li>
<li>La promotion des secteurs agricoles et d’élevages.</li>
<li>La promotion du sport</li>
</ul>

                    </p>
                  </div>
                </div>
              </div>
              
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
							4. Ce que nous pouvons offrir </a>
                </div>
                <div id="collapseFour" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>
                     L' association « <strong> Avenir - Solidarité - Développement </strong>» propose d’accompagner les populations autour des enjeux : 
                     <ul>
                     <li>Enjeu environnemental : 
                         <ul>
                             <li>mise en place d’espace boisé,</li> 
                             <li>lutte contre l’érosion fluvial, </li>
                             <li>création de centre intégré alliant les ressources de la terre et de l’eau,</li>
                             <li> promotion d’habitat en terre (brique de terre compressée), </li>
                          </ul>
                     <li>
                         Enjeu économique : 
                         <ul>
                             <li>création de bassin piscicole intégrant l’élevage</li>
                             <li>le maraichage</li>
                             <li>la production de biogaz</li>
                          </ul>
                     <li>Enjeu social : 
                          <ul>
                             <li>création de centre de formation </li>
                             <li>et d’apprentissage intégré. </li>
                          </ul>
                     <li>
                     Enjeu sportif : 
                          <ul>
                           <li>Mise en place d’un projet d’inclusion par le sport à travers un parcours éducatif des jeunes de 3 à 25 ans.</li>
                           </ul>
                            </li>
                     </ul>
                     Le sport est reconnu comme étant un facteur d’insertion et d’intégration sociale. Les pratiques sportives sont des supports essentiels de la vie sociale, sources d’engagement et d’épanouissement personnel. Elles peuvent donc constituer des supports éducatifs à part entière.  L’association entend intervenir dans une synergie d’actions de mise en place de parcours éducatif et sportif de 3-25 ans autour du football, de judo et du Basket . 
<br><br>L’objectif de association est de contribuer à l’élan national de développement social et économique du Sénégal, dans le contexte d’une nécessaire adaptation aux changements climatiques et offrir aux jeunes <strong>des opportunités de formations et d’emplois décents</strong>.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          
          <div class="span6">
            <h4>Domaine d'activités</h4>
            <label>Santé :</label>
            <div class="progress progress-info progress-striped active">
              <div class="bar" style="width: 100%">
              </div>
            </div>
            <label>Éducation :</label>
            <div class="progress progress-success progress-striped active">
              <div class="bar" style="width: 80%">
              </div>
            </div>
            <label>Social :</label>
            <div class="progress progress-warning progress-striped active">
              <div class="bar" style="width: 60%">
              </div>
            </div>
            <label>Environnement :</label>
            <div class="progress progress-inverse progress-striped active">
              <div class="bar" style="width: 40%">
              </div>
            </div>
            <label>Sport :</label>
            <div class="progress progress-danger progress-striped active">
              <div class="bar" style="width: 20%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}