{% extends 'base.html.twig' %}

{% block title %} Les projets en cours {% endblock %}

{% block body %}
 {% include('inc/slides.html.twig') %}
     <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h4>Détails du Projet</h4>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="#">Projets en cours</a><i class="icon-angle-right"></i></li>
              <li class="active">Détails du Projet</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span8">
            <article>
              <div class="top-wrapper">
                <div class="post-heading">
                  <h3><a href="#">Un exemple de projets humanitaires</a></h3>
                </div>
                <!-- start flexslider -->
                
                <div class="flexslider">
                  <ul class="slides">
                    <li>
                      <img src="assets/img/works/full/image-01-full.jpg" alt="" />
                    </li>
                    <li>
                      <img src="assets/img/works/full/image-02-full.jpg" alt="" />
                    </li>
                    <li>
                      <img src="assets/img/works/full/image-03-full.jpg" alt="" />
                    </li>
                  </ul>
                </div>
                <!-- end flexslider -->
              </div>
              {% for projetEnCour in projetEnCours %}
             <div class="container mt-5 mb-5" style="max-width: 750px;">
             <div class="row">
                 <div class="card p-3">
                    <div class="col">
                    <h1 class="lead">{{ projetEnCour.nom }}</h1> 
                    <div style="justify">
                {{ projetEnCour.description }}
              </div>
                    </div>
                 </div>
            </div>  
      </div>
           {% endfor %}     
            </article>
          </div>
          <div class="span4">
            <aside class="right-sidebar">
              <div class="widget">
                <h5 class="widgetheading">Information sur le project </h5>
                <ul class="folio-detail">
                  <li><label>Catégories :</label> Web design</li>
                  <li><label>Partenaires :</label> ASU Company</li>
                  
                </ul>
              </div>
               
              <div class="widget">
                <h5 class="widgetheading">Déscription du Projet</h5>
                <p>
                  Lorem ipsum dolor sit amet, unum suscipiantur te cum, vide magna ea eam. At eos wisi tractatos temporibus. Ne has omnis harum. Ei mea graece delenit nominati. Ut dolore albucius torquatos vel, choro gubergren no mel.
                </p>
              </div>
              
            </aside>
          </div>
        </div>
      </div>
    </section>
{% endblock %}


