{% extends 'base.html.twig' %}

{% block title %}Les futurs projets{% endblock %}


    {% block body %}
     {% include('inc/slides.html.twig') %}
     <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
             <h2>Projets<strong> futurs</strong></h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="#">Projets futurs</a><i class="icon-angle-right"></i></li>
              <li class="active">Détails du Projet</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span8">
            <article>
              <div class="top-wrapper">
                <div class="post-heading">
                </div>
                <!-- start flexslider -->
                <div class="flexslider">
                 <ul class="slides">
                
                <li>
                  <img src="assets/img/works/full/image-03-full.jpg" alt="" />
                </li>
                <li>
                  <img src="assets/img/works/full/image-05-full.jpg" alt="" />
                </li>
                <li>
                  <img src="assets/img/works/full/image-06-full.jpg" alt="" />
                </li>
              </ul>
                </div>
                <!-- end flexslider -->
              </div>
              <div class="row">
        {% for projetFutur in projetFuturs %}
            <section class="col-4 mt-5">
                <h4 lass="lead">{{ projetFutur.nom }}</h4>
                <p>{{ projetFutur.description |raw}} .</p>
            </section>
        {% endfor %}
        </div>
            </article>
          </div>
          <div class="span4">
            <aside class="right-sidebar">
              <div class="widget">
                <h5 class="widgetheading">Information sur le project </h5>
                <ul class="folio-detail">
                  <li><label>Catégories :</label> Projets</li>
                  <li><label>Partenaires :</label> </li>
                  
                </ul>
              </div>
              {% for projetFutur in projetFuturs %}
              <div class="widget">
                <h5 class="widgetheading">{{ projetFutur.nom }}</h5>
                <p>
                {{ projetFutur.description|u.truncate(270,'...')|raw  }}
                </p>
              </div>
              {% endfor %}
            </aside>
          </div>
        </div>
      </div>
    </section>
{% endblock %}




