{% extends 'base.html.twig' %}

{% block title %}Les projets terminés{% endblock %}

{% block body %}
 {% include('inc/slides.html.twig') %}
     <!-- end header -->
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>Nos <strong>réalisations</strong></h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="#">Projets </a><i class="icon-angle-right"></i></li>
              <li class="active">terminés</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
            <ul class="portfolio-categ filter">
              <li class="all active"><a href="#">Tous</a></li>
              <li class="web"><a href="#" title="">Santé</a></li>
              <li class="icon"><a href="#" title="">Actions humanitaires</a></li>
              <li class="graphic"><a href="#" title="">Dévelloppement durable</a></li>
            </ul>
            <div class="clearfix">
            </div>
            <div class="row">
              <section id="projects">
                <ul id="thumbs" class="portfolio">
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 design" data-id="id-0" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Agriculture" href="assets/img/works/full/image-01-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-01.jpg" alt="une agriculture innovante et durable par la création d’une ferme intégrée regroupant plusieurs activités interdépendantes.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 design" data-id="id-1" data-type="icon">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Aviculture" href="assets/img/works/full/image-03-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-03.jpg" alt="La volaille représente aujourd’hui l’une des principales sources de protéines animales ; de ce faite l’aviculture connaît un développement exponentiel et est un créneau de choix pour les producteurs agricoles, des ex-fonctionnaires, les investisseurs privés… L’aviculture semi -industrielle localisée essentiellement dans la région de Dakar bénéficie d’un micro- climat favorable.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 photography" data-id="id-2" data-type="graphic">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Promotion du maraichage" href="assets/img/works/full/image-03-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-03.jpg" alt="La promotion de l’agroécologie dans un contexte de changement climatique constitue une innovation première d’ association dans la vallée du fleuve. L’agroécologie apparaît de plus en plus comme une réponse pertinente á la problématique d’adaptation agricole des régions sèches. Que ce soit en matière de gestion de l’eau, de préservation du sol contre l’érosion et de la gestion de la fertilité des sols.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 design" data-id="id-0" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Production des oeufs" href="assets/img/works/full/image-04-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-04.jpg" alt="L’offre en œufs de consommation est insuffisante en production locale pour une demande sans cesse croissante car l’œuf rentre dans la préparation de plats cuisinés et de nombreuses pâtisseries. Le climat joue sur la production locale ainsi pendant l’hivernage, le taux de ponte baisse à cause de la chaleur. En 1996 la consommation par habitant était de 20 œufs / an, cependant depuis l’année 2000 l’objectif du gou-vernement s’établit à 220 œufs / habitant / an.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 photography" data-id="id-4" data-type="graphic">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Maraichage" href="assets/img/works/full/image-05-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-05.jpg" alt="Au Sénégal, la vallée du fleuve est une zone semi-aride où les populations à dominante pastorale font face à plusieurs défis climatiques. Toutefois, les écosystèmes offrent de réelles opportunités de valorisation des pratiques agroécologiques capables de renforcer la dynamique des exploitations familiales et la production vivrière.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 photography" data-id="id-5" data-type="icon">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Achat échographie" href="assets/img/works/full/image-06-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-06.jpg" alt="Pour soutenir la démarche du gouvernement du Sénégal, l’amélioration de la santé maternelle reste l’une des grandes priorités de l’Association de Développement et de Solidarité des Ressortissants de Dondou en France. Elle œuvre à réduire cette mortalité en renforçant le plateau technique médicale du poste de santé, en fournissant aux agents de santé sur place des moyens matériels adéquats leur permettant de donner des soins de qualité.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 design" data-id="id-0" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Achat ambulance" href="assets/img/works/full/image-07-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-07.jpg" alt="Une ambulance toute neuve d'une valeur de 16 000 000 F CFA a été achetée par l' association et mise à la disposition des populations locales pour permettre l'évacuation des malades vers les structures de santé les mieux adaptées.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 design" data-id="id-0" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Cabinet dentaire" href="assets/img/works/full/image-08-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-08.jpg" alt="Le projet équipement d’un cabinet dentaire est un prolongement du projet santé. Il consiste à équiper un cabinet dentaire à Dondou pour venir en aide à la population locale. Un technicien dans ce domaine a été consulté pour une étude de faisabilité. Ainsi une expression de besoins a été établie et des demandes de devis ont été réalisées.">
                  </li>
                  <!-- End Item Project -->
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 design" data-id="id-0" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Agriculture" href="assets/img/works/full/image-01-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-01.jpg" alt="une agriculture innovante et durable par la création d’une ferme intégrée regroupant plusieurs activités interdépendantes.">
                  </li>
                  <!-- End Item Project -->
                </ul>
              </section>
             
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}


