{% extends 'base.html.twig' %}

{% block title %}Les projets terminés{% endblock %}

{% block body %}
 {% include('inc/slides.html.twig') %}
     <!-- end header -->
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>Nos <strong>réalisations</strong></h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="#">Projets </a><i class="icon-angle-right"></i></li>
              <li class="active">terminés</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
            <ul class="portfolio-categ filter">
              <li class="all active"><a href="#">Tous</a></li>
              <li class="web"><a href="#" title="">Actions humanitaires</a></li>
              <li class="icon"><a href="#" title="">Elevage</a></li>
              <li class="graphic"><a href="#" title="">Maraichage</a></li>
            </ul>
            <div class="clearfix">
            </div>
            <div class="row">
              <section id="projects">
                <ul id="thumbs" class="portfolio">
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 design" data-id="id-0" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Agriculture" href="assets/img/works/full/image-01-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-01.jpg" alt="une agriculture innovante et durable par la création d’une ferme intégrée regroupant plusieurs activités interdépendantes.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 design" data-id="id-1" data-type="icon">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Aviculture" href="assets/img/works/full/image-02-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-02.jpg" alt="La volaille représente aujourd’hui l’une des principales sources de protéines animales ; de ce faite l’aviculture connaît un développement exponentiel et est un créneau de choix pour les producteurs agricoles, des ex-fonctionnaires, les investisseurs privés… L’aviculture semi -industrielle localisée essentiellement dans la région de Dakar bénéficie d’un micro- climat favorable.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 photography" data-id="id-2" data-type="graphic">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Un savoir - faire innovant" href="assets/img/works/full/image-03-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-03.jpg" alt="Nos valeurs éco citoyennes justifient nos bonnes pratiques d’écologisation et de résilience de l’habitat, mais également la transformation des sites d’extraction de la terre sablo-argileuse en bassin d’aquaculture, permettant ainsi de développer et d’élargir l’économie verte, sociale, solidaire et surtout de participer à la sécurité alimentaire en protéine animale (poissons d’élevage). Nous disposons des ressources internes pour allier les deux économies (BTC et aquaculture)">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 design" data-id="id-0" data-type="icon">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Production des oeufs" href="assets/img/works/full/image-04-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-04.jpg" alt="L’offre en œufs de consommation est insuffisante en production locale pour une demande sans cesse croissante car l’œuf rentre dans la préparation de plats cuisinés et de nombreuses pâtisseries. Le climat joue sur la production locale ainsi pendant l’hivernage, le taux de ponte baisse à cause de la chaleur. En 1996 la consommation par habitant était de 20 œufs / an, cependant depuis l’année 2000 l’objectif du gou-vernement s’établit à 220 œufs / habitant / an.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 photography" data-id="id-4" data-type="graphic">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Journée médicale" href="assets/img/works/full/image-05-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-05.jpg" alt=" Au cours de ces journées une commission d’organisation a été constituée. Elle a consacré des efforts considérables pour le bon déroulement afin que les consultations puissent se dérouler normalement. ">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 photography" data-id="id-5" data-type="graphic">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Arboriculture" href="assets/img/works/full/image-06-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-06.jpg" alt="L’offre en fruits est constituée d’espèces de zone tempérée (agrumes) et surtout de fruits dits tropicaux : mangue, banane, ananas, papaye, etc. Les fruits sont essentiellement destinés au marché local, mais occupent de plus en plus la place dans les exportations avec un créneau de production très favorable pour la mangue (mai-juillet)...">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 design" data-id="id-0" data-type="icon">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Un développement local durable" href="assets/img/works/full/image-07-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-07.jpg" alt="Les briques de terre compressées sont fabriquées tout simplement par compression, dans 
une presse mécanique, d’argile mélangée, généralement à du ciment ou de la chaux, pour 
améliorer leur stabilité ; pas besoin d’acheter des quantités colossales de ciment.
La compression, lente, va peu à peu chasser l’air présent dans le mélange, permettant 
ainsi son imperméabilité.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 design" data-id="id-0" data-type="icon">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Analyse des données" href="assets/img/works/full/image-08-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-08.jpg" alt="Lors des deux jours des consultations gratuites des journées médicales l’équipe médicale de l’action anitaire pour le Fouta a eu à consulter un total de 985 patients dont 640 de sexe féminin et 345 de sexe masculin. Il faut noter que 47 échographies ont été réalisée et 40 circoncisions...">
                  </li>
                  <!-- End Item Project -->
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 design" data-id="id-0" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Energie renouvelable" href="assets/img/works/full/image-13-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-09.jpg" alt="Les énergies renouvelables profitent des réserves d’énergie non épuisables. Il est donc évident que l’exploitation de ces énergies présente de nombreux avantages. Si vous optez pour l’énergie renouvelable, vous choisissez de faire un geste pour la planète. En effet, vous contribuerez de manière conséquente à la diminution de l’utilisation des énergies traditionnelles.">
                  </li>
                  <!-- End Item Project -->
                </ul>
              </section>
             
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}


