{% extends 'base.html.twig' %}

{% block title %}Videos{% endblock %}

{% block body %}
{% include('inc/slides.html.twig') %}
      <div class="container mt-5 mb-5" style="max-width: 800px;">
            <div class="row">
                 <div class="card p-3">
                    <div class="col">
                       <div class="span4">
            <h4>Listes des Videos</h4>
            <p>
              <strong>Lorem ipsum dolor sit amet</strong>, consetetur sadipscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            </p>
            <p class="lead">
              At vero eos et accusam et justo duo dolores et eabum.
            </p>
            <p>
              <em>
					Consetetur sadipscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </em>
            </p>
            <p>
              <small>
					Consetetur sadipscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </small>
            </p>
          </div>
          <div class="span4">
            <h4>description Videos</h4>
            <img src="assets/img/dummies/dummy-1.jpg" alt="" class="align-left" />
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et eabum. Stet clita kasd gubergren, no sea takimata sanctus
              est Lorem ipsum dolor sit amet
            </p>
          </div>
        </div>
                       
                    </div>
                 </div>
            </div>  
      </div>
{% endblock %}
