{% extends 'base.html.twig' %}

{% block title %}Videos{% endblock %}

{% block body %}
{% include('inc/slides.html.twig') %}
      <div class="container mt-5 mb-5" style="max-width: 800px;">
            <div class="row">
                 <div class="card p-3">
                    <div class="col">
                       <div class="span4">
            <h4>Listes des Videos</h4>
            
          </div>
        </div>
                       
                    </div>
                 </div>
            </div>  
      </div>
{% endblock %}
