{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
    {{ form(commentform) }}
        {{ commentform(commentform) }}
</div>
    </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

