{% extends 'base.html.twig' %}

{% block body %}
<div class="container" >
  <div class="row">
    <div class="col" id="ajout-commentaire">
   {{ form_start(commentForm) }}
        {{ form_widget(commentForm) }}
    {{ form_end(commentForm) }}
</div>
    </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

