{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
    <h3>Ajouter une annonce</h3>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Enregistrer">
    {{ form_end(form) }}
</div>
    </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

