{% extends 'base.html.twig' %}

{% block title %}Les commentaires{% endblock %}

{% block body %}


    <div class="container">
  <div class="row">
    <div class="col">
        <h1 class="text-primary text-center">Les commentaires</h1>
        {% for projet in projets %}
            <section class="col-4">
                <h2 class="text-center">{{ projet.nom }}</h2>
             </section>
        {% endfor %}

    </div>
    </div>
    </div>


{% endblock %}
