{% extends 'base.html.twig' %}

{% block title %}Ajout d'une categorie{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col">
    <h3 class="text-danger text-center mb-5">Ajouter une categorie</h3>
    {{ form_start(form)}}
        {{ form_widget(form)}}
        <input type="submit" class="btn btn-large btn-theme btn-rounded" value="Enregistrer">
    {{ form_end(form)}}
    </div>
    </div>
    </div>
{% endblock %}
