{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <h1 class="text-danger text-center mb-5">Modification projet "{{ projet.nom }}"</h1>
    {{ form_start(form)}}
        {{ form_widget(form)}}
        <input type="submit" class="btn btn-primary" value="Enregistrer">
    {{ form_end(form)}}
{% endblock %}
