{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}

    <h3 class="text-danger text-center mb-5">Modification projet :{{ projet.nom }}</h3>
    <div class="container">
  <div class="row">
    <div class="col">
    {{ form_start(form)}}
        {{ form_widget(form)}}
        <input type="submit" class="btn btn-primary" value="Enregistrer">
    {{ form_end(form)}}
    </div>
    </div>
    </div>
{% endblock %}
