{% extends 'base.html.twig' %}
{% block title %}paiement avec stripe{% endblock %}
{% block body %}
<section class="container">
<div class="row">
<div class="col">
<h6>Nos services de paiement des<strong> cotisations en ligne</strong></h6>
<form action="{{ path('app_paiement') }}" method="post">
    <label for="prix">Montant :</label>
    <input type="text" name="prix" id="prix"><br/>
    <button class="btn btn-theme btn-rounded" >Procéder au paiement</button>
</form>

</div>
</div>
</div>
</section>
{% endblock %}
