{% extends 'base.html.twig' %}
{% block title %}paiement avec stripe{% endblock %}
{% block body %}
<section class="container">
<div class="row">
<div class="col">
<h4>Nos services de paiement des<strong> cotisations en ligne</strong></h4>
<form method="post">
    <div id="errors"></div>
    <label>Nom et prénom :</label>
    <input id="cardholder-name" type="text" placeholder="Titulaire de la carte"><br/>
     <label>Adresse mail :</label>
     <input id="cardholder-name" type="email" placeholder="Vtre email">
      <label>Information de votre carte :</label>
    <div id="card-element">
    </div>
    <div id="card-errors" role="alert"></div><br/>
    <button class="btn btn-theme btn-rounded" id="card-button" type="button" data-secret="<?= $intent['client_secret'] ?>">Valider le paiement</button>
</form>

</div>
</div>
</div>
</section>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{{asset('assets/js/scripts.js')}}"></script>
{% endblock %}
