{% extends 'base.html.twig' %}

{% block title %}Paiement cotisation{% endblock %}

{% block body %}
  {% include('inc/slides.html.twig') %}<br/>
<section class="container"><div class="row"><div class="col">
  <h4>Nos services de paiement des<strong> cotisations en ligne</strong></h4>
<div class="nav-space-checkout">
    <div class="container">
        <div class="row">
            <table  class="table table-bordered">
              <thead>
                <tr>
                  <th>
                  Paiement
                  </th>
                  <th>
                   Montant
                  </th>
                  <th>
                   Unité
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                   Cotisation
                  </td>
                  <td>
                60
                  </td>
                  <td>
                   €
                  </td>
                </tr>
                <tr>
                </tr>
                <tr>
                 
                  <td>
                  <strong> TOTAL</strong>
                  </td>
                  <td>
                  <strong>60</strong>
                  </td>
                  <td>
                   <strong>€</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
            <div class="col-xs-12 col-sm-6">
             <div class="span6">
                 <form action="" method="POST">
                    <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_51L9XNOK2P3uJ8QLpYE2CRDI5D5piBS49I2RNGMasnMlPBXKNGg9lWeCqrtggK3KmH516itxsuPW6j0IBHGkFlKsX00GgnbWdKf"
                        data-amount="6000"
                        data-name="Associaton Dondou"
                        data-description="en France"
                        data-image="assets/img/logo.png"
                        data-locale="auto">
                    </script>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>
{% endblock %}