{% extends 'base.html.twig' %}

{% block title %}Error 403{% endblock %}

{% block body %}
    <h1 class="text-primary text-center">Erreur</h1>
    <p class="text-primary text-center">Une erreur est survenue</p>
{% endblock %}