{% extends 'base.html.twig' %}
{% block title %}Error 404{% endblock %}
{% block body %}
    <h1 class="text-primary text-center">Page non trouvée</h1>
    <p class="text-primary text-center" >La page demandée n'existe pas !</p>
{% endblock %}