<footer>
      <div class="container">
        <div class="row">
          <div class="span3">
            <div class="widget">
              <h5 class="widgetheading"><a href="#">Parcourir les pages</a></h5>
              <ul class="link-list">
                <li><a href="#"><i class="icon-double-angle-right"></i>A propos de l'association</a></li>
                <li><a href="#"><i class="icon-double-angle-right"></i>Nos projets</a></li>
                <li><a href="#"><i class="icon-double-angle-right"></i>Nos partenaires</a></li>
                <li><a href="#"><i class="icon-double-angle-right"></i>Notre portefeuille</a></li>
                <li><a href="#"><i class="icon-double-angle-right"></i>Contacts utiles</a></li>
              </ul>
            </div>
          </div>
          <div class="span3">
            <div class="widget">
              <h5 class="widgetheading"><a href="#">Choses importantes</a></h5>
              <ul class="link-list">
                <li><a href="#"><i class="icon-double-angle-right"></i>Communiqué de presse</a></li>
                <li><a href="#"><i class="icon-double-angle-right"></i>Termes et conditions</a></li>
                <li><a href="#"><i class="icon-double-angle-right"></i>Politique de confidentialité</a></li>
                <li><a href="#"><i class="icon-double-angle-right"></i>Centre de carrière</a></li>
                <li><a href="#"><i class="icon-double-angle-right"></i>Forum de discussion</a></li>
              </ul>
            </div>
          </div>
          <div class="span3">
            <div class="widget">
              <h5 class="widgetheading"><a href="#">Nos partenaires</a></h5>
              <ul class="link-list">
                <li><a href="#"><i class="icon-double-angle-right"></i>Ville de Mantes la jolie</a></li>
                <li><a href="#"><i class="icon-double-angle-right"></i>Yveline coopération decentraisée</a></li>
                <li><a href="#"><i class="icon-double-angle-right"></i>Forim</a></li>
                <li><a href="#"><i class="icon-double-angle-right"></i>Ville d'Evreux</a></li>
                <li><a href="#"><i class="icon-double-angle-right"></i>Région Ile de France</a></li>
              </ul>
              <div class="clear">
              </div>
            </div>
          </div>
          <div class="span3">
            <div class="widget">
              <h5 class="widgetheading"><a href="#">Nous contacter </a></h5>
              <address>
							<a href="#"><i class="icon-double-angle-right"></i>	<strong>Avenir - Solidarité - Développement </strong></a><br/>
								 <a href="#"><i class="icon-double-angle-right"></i> Siège Social : 02, rue Maryse Bastie</a> <br/>
								<a href="#"> <i class="icon-double-angle-right"></i> 78 200 Mantes la Jolie </a><br/>
                <a href="#"><i class="icon-double-angle-right"></i> France .</a>
					 		</address>
              <p>
               <a href="#"> <i class="icon-phone"></i> (+33) 07 80 62 21 69 / 06 67 98 84 86 </a><br/>
                <a href="#"><i class="icon-envelope-alt"></i>avenirsoldev@gmail.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="sub-footer">
        <div class="container">
          <div class="row">
            <div class="span6">
              <div class="copyright">
                <p>
                  <span>copy; Avenir - Solidarité - Développement - All right reserved.</span>
                </p>
                <div class="credits">
                  <!--
                    All the links in the footer should remain intact.
                    You can delete the links only if you purchased the pro version.
                    Licensing information: https://bootstrapmade.com/license/
                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Flattern
                  -->
                  Designed by : <a href="#">  Arona DIALLO</a>
                </div>
              </div>
            </div>
            <div class="span6">
              <ul class="social-network">
                <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-pinterest icon-square"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Google plus"><i class="icon-google-plus icon-square"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
 