<section id="featured">
      <!-- start slider -->
      <!-- Slider -->
      <div id="nivo-slider">
        <div class="nivo-slider">
          <!-- Slide #1 image -->
          <img src="assets/img/slides/nivo/bg-1.jpg" alt="" title="#caption-1" />
          <!-- Slide #2 image -->
          <img src="assets/img/slides/nivo/bg-2.jpg" alt="" title="#caption-2" />
          <!-- Slide #3 image -->
          <img src="assets/img/slides/nivo/bg-3.jpg" alt="" title="#caption-3" />
           <!-- Slide #4 image -->
          <img src="assets/img/slides/nivo/bg-4.jpg" alt="" title="#caption-4" />
           <!-- Slide #5 image -->
           <img src="assets/img/slides/nivo/bg-5.jpg" alt="" title="#caption-5" />
            <!-- Slide #6 image -->
             <img src="assets/img/slides/nivo/bg-6.jpg" alt="" title="#caption-6" />
             <!-- Slide #7 image -->
             <img src="assets/img/slides/nivo/bg-7.jpg" alt="" title="#caption-7" />
        </div>
        <div class="container">
          <div class="row">
            <div class="span12">
              <!-- Slide #1 caption -->
              <div class="nivo-caption" id="caption-1">
                <div>
                  <h2>Le <strong>maraîchage</strong></h2>
                  <p>
                   Au Sénégal, la vallée du fleuve est une zone semi-aride où les populations à dominante pastorale font face à plusieurs défis climatiques. Toutefois, les écosystèmes offrent de réelles opportunités de valorisation des pratiques agroécologiques capables de renforcer la dynamique des exploitations familiales et la production vivrière.
                  </p>
                  <a href="#" class="btn btn-theme">Lire la suite ...</a>
                </div>
              </div>
              <!-- Slide #2 caption -->
              <div class="nivo-caption" id="caption-2">
                <div>
                  <h2>La <strong>riziculture</strong></h2>
                  <p>
                   Le riz est d’une importance vitale pour le Sénégal. C’est la denrée de base dans le pays, comme dans toute l’Afrique occidentale ; pourtant, la culture en est limitée alors que la consommation explose. La population augmente rapidement et chaque habitant consomme en moyenne 100 kg de riz par an.
                  </p>
                  <a href="#" class="btn btn-theme">Lire la suite ...</a>
                </div>
              </div>
               <!-- Slide #3 caption -->
              <div class="nivo-caption" id="caption-3">
                <div>
                  <h2>La <strong>riziculture</strong></h2>
                  <p>
                    Le riz est d’une importance vitale pour le Sénégal. C’est la denrée de base dans le pays, comme dans toute l’Afrique occidentale ; pourtant, la culture en est limitée alors que la consommation explose. La population augmente rapidement et chaque habitant consomme en moyenne 100 kg de riz par an.
                  </p>
                  <a href="#" class="btn btn-theme">Lire la suite ...</a>
                </div>
              </div>
               <!-- Slide #4 caption -->
              <div class="nivo-caption" id="caption-4">
                <div>
                   <h2>Poules <strong>pondeuses</strong></h2>
                   <p>
                    La volaille représente aujourd’hui l’une des principales sources de protéines animales ; de ce faite l’aviculture connaît un développement exponentiel et est un créneau de choix pour les producteurs agricoles, des ex-fonctionnaires, les investisseurs privés<br/>
                    L’aviculture semi - industrielle localisée essentiellement dans la région de Dakar bénéficie d’un micro- climat favorable. .
                  </p>
                  <a href="#" class="btn btn-theme">Lire la suite ...</a>
                </div>
              </div>
              <!-- Slide #4 caption -->
              <div class="nivo-caption" id="caption-5">
                <div>
                  <h2>l' <strong> arbiculture</strong></h2>
                  <p>
                    L’offre en fruits est constituée d’espèces de zone tempérée (agrumes) et surtout de fruits dits tropicaux : mangue, banane, ananas, papaye, citron, etc. Les fruits sont essentiellement destinés au marché local, mais occupent de plus en plus la place dans les exportations avec un créneau de production très favorable pour la mangue (mai-juillet)...
                  </p>
                  <a href="#" class="btn btn-theme">Lire la suite ...</a>
                </div>
              </div>
               <!-- Slide #4 caption -->
              <div class="nivo-caption" id="caption-6">
                <div>
                  <h2>L' <strong>aviculture</strong></h2>
                  <p>
L’offre en œufs de consommation est insuffisante en production locale pour une demande sans cesse croissante car l’œuf rentre dans la préparation de plats cuisinés et de nombreuses pâtisseries. 
Le climat joue sur la production locale ainsi pendant l’hivernage, le taux de ponte baisse à cause de la chaleur.
En 1996 la consommation par habitant était de 20 œufs / an, cependant depuis l’année 2000 l’objectif du gouvernement s’établit à 220 œufs / habitant / an.
.
                  </p>
                  <a href="#" class="btn btn-theme">Lire la suite ...</a>
                </div>
              </div>
              <!-- Slide #5 caption -->
              <div class="nivo-caption" id="caption-7">
                <div>
                  <h2>La <strong>pisciculture</strong></h2>
                  <p>
                  Le secteur de la pisciculture qui a fait l'objet ces quelques dernières années d'une littérature abondante où l'on retrouve les mots clés de développement durable, de durabilité ou de gestion durable, était une activité certes très ancienne, qui de nos jours, connaît un essor considérable dans le monde.</br></br> L'augmentation de la population du globe, la demande croissante en protéines et en particulier en protéines d'origine aquatique, alors que les débarquements de la pêche plafonnent, créent une situation nouvelle...
                  </p>
                  <a href="#" class="btn btn-theme">Lire la suite ...</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end slider -->
    </section>