<section id="featured">
      <!-- start slider -->
      <!-- Slider -->
      <div id="nivo-slider">
         <div class="nivo-slider">
           <!-- Slide #9 image -->
            <img src="assets/img/slides/nivo/bg-9.jpg" alt="" title="#caption-9" />
            <!-- Slide #9 image -->
            <img src="assets/img/slides/nivo/bg-8.jpg" alt="" title="#caption-8" />
            <!-- Slide #2 image -->
            <img src="assets/img/slides/nivo/bg-2.jpg" alt="" title="#caption-2" />
             
              <!-- Slide #4 image -->
             <img src="assets/img/slides/nivo/bg-4.jpg" alt="" title="#caption-4" />
             <!-- Slide #5 image -->
             <img src="assets/img/slides/nivo/bg-5.jpg" alt="" title="#caption-5" />
             <!-- Slide #6 image -->
             <img src="assets/img/slides/nivo/bg-6.jpg" alt="" title="#caption-6" />
             <!-- Slide #7 image -->
            
         </div>
        <div class="container">
          <div class="row">
            <div class="span12">
             <!-- Slide #4 caption -->
              <div class="nivo-caption" id="caption-9">
                <div>
                   <h2>Actions <strong>sanitaires</strong></h2>
                   <p>
                    Les journées médicales du 24 au 26 décembre 2021 en collaboration avec ASFO (Action Sanitaire pour le Fouta) ont permis à la population de bénéficier des services de soins de première nécessité tels que :
<ul>
<li>Pédiatrie et gériatrie ;</li>
<li>Gynécologie et biologie ;</li>
<li>Médecine générale et circoncisions ;</li>
<li>Chirurgie dentaire ;</li>
<li>Pharmacie et nutrition ;</li>
</ul>

                  </p>
                  <a href="#" class="btn btn-theme">Lire la suite ...</a>
                </div>
              </div>
              <!-- Slide #8 caption -->
              <div class="nivo-caption" id="caption-8">
                <div>
                   <h2>Actions <strong>humanitaires</strong></h2>
                  <p>
                   Des valeurs citoyennes justifient les bonnes pratiques aux services de la population. 
                  </p>
                  <a href="#" class="btn btn-theme">Lire la suite ...</a>
                </div>
              </div>
              <!-- Slide #2 caption -->
              <div class="nivo-caption" id="caption-2">
                <div>
                   <h2>Un <strong>savoir - faire innovant</strong></h2>
                  <p>
                   Nos valeurs éco citoyennes justifient nos bonnes pratiques d’écologisation et de résilience 
de l’habitat, mais également la transformation des sites d’extraction de la terre sablo-argileuse en bassin d’aquaculture, permettant ainsi de développer et d’élargir l’économie 
verte, sociale, solidaire et surtout de participer à la sécurité alimentaire en protéine animale 
(poissons d’élevage). Nous disposons des ressources internes pour allier les deux 
économies (BTC et aquaculture). 
                  </p>
                  <a href="#" class="btn btn-theme">Lire la suite ...</a>
                </div>
              </div>
               <!-- Slide #4 caption -->
              <div class="nivo-caption" id="caption-4">
                <div>
                   <h2>Poules <strong>pondeuses</strong></h2>
                   <p>
                    La volaille représente aujourd’hui l’une des principales sources de protéines animales ; de ce faite l’aviculture connaît un développement exponentiel et est un créneau de choix pour les producteurs agricoles, des ex-fonctionnaires, les investisseurs privés<br/>
                    L’aviculture semi - industrielle localisée essentiellement dans la région de Dakar bénéficie d’un micro- climat favorable. .
                  </p>
                  <a href="#" class="btn btn-theme">Lire la suite ...</a>
                </div>
              </div>
              <!-- Slide #4 caption -->
              <div class="nivo-caption" id="caption-5">
                <div>
                  <h2>l' <strong> arbiculture</strong></h2>
                  <p>
                    L’offre en fruits est constituée d’espèces de zone tempérée (agrumes) et surtout de fruits dits tropicaux : mangue, banane, ananas, papaye, citron, etc. Les fruits sont essentiellement destinés au marché local, mais occupent de plus en plus la place dans les exportations avec un créneau de production très favorable pour la mangue (mai-juillet)...
                  </p>
                  <a href="#" class="btn btn-theme">Lire la suite ...</a>
                </div>
              </div>
               <!-- Slide #4 caption -->
              <div class="nivo-caption" id="caption-6">
                <div>
                  <h2>L' <strong>aviculture</strong></h2>
                  <p>
L’offre en œufs de consommation est insuffisante en production locale pour une demande sans cesse croissante car l’œuf rentre dans la préparation de plats cuisinés et de nombreuses pâtisseries. 
Le climat joue sur la production locale ainsi pendant l’hivernage, le taux de ponte baisse à cause de la chaleur.
En 1996 la consommation par habitant était de 20 œufs / an, cependant depuis l’année 2000 l’objectif du gouvernement s’établit à 220 œufs / habitant / an.
.
                  </p>
                  <a href="#" class="btn btn-theme">Lire la suite ...</a>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <!-- end slider -->
    </section>